<app-nav-bar></app-nav-bar>
<div class="container">
    <div style="text-align: center;">
        <h1 style="color: darkblue;">TECHNICAL COMMITTEE</h1>
        <hr>
    </div>
    <div style=" background-color: white; font-size: 20px; font-weight: bold;" class="pt-3 pb-3 pl-3 pr-3">
        <div class="row">
            <div class="col-lg-3 offset-lg-3">
                <h3>Chief Patron</h3>
                <p>Dr. Shiv Nadar</p>
            </div>
            <div class="col-lg-3">
                <h3>Patron</h3>
                <p>Dr.Kala Vijayakumar</p>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-lg-3 offset-lg-1">
                <h3>General Co-Chair</h3>
                <ul>
                    <li><p>Dr.V.E.Annamalai</p></li>
                    <li><p>Dr.P.Ramasamy</p></li>
                    <li><p>Dr.N.Sivakumar</p></li>
                    
                </ul>
            </div>
            <div class="col-lg-3">
                <h3>Conference Chair</h3>
                <div >
                    <span class="pl-3">&nbsp;&nbsp; Dr.Y.K.Sabapathy</span>
                </div>
                                        
            </div>
            <div class="col-lg-4">
                <h3>Organizing Chairs</h3>
                <ul>
                    <li><p>Dr.P.Sangeetha</p></li>
                    <li><p>Dr.Jijo James</p></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div style="text-align: center;">
                <h3>Co-organizers</h3>
                Larsen & Toubro Ltd, Builder's Assosiation of India CMTI, <br> Bengaluru, <br> Mahindra Consulting Engineers Ltd,<br>
                ZEUS Project Consultants Pvt Ltd
            </div>
        </div>
        <div class="row pt-3">
            <h3 style="text-align: center;">Programme Committee</h3>
            <div class="col-lg-3 offset-lg-3">
                <ul>
                    <li><p>Dr.S.Ramanagopal</p></li>
                    <li><p>Dr.B.Mahalingam</p></li>
                    <li><p>Dr.R.Srinath</p></li>
                    <li><p>Dr.S.V.Sivapriya</p></li>
                    <li><p>Dr.G.Ashwinsriram</p></li>
                </ul>
            </div>
            <div class="col-lg-3 offset-lg-1">
                <ul>
                    <li><p>Dr.P.Sreehari </p></li>
                    <li><p>Dr.R.Rajkumar</p></li>
                    <li><p>Dr.R.Vijayalakshmi</p></li>
                    <li><p>Mrs.R.Sumetha</p></li>
                    <li><p>Dr.N.Surendar</p></li>
                </ul>
            </div>
        </div>
    </div>
    <br>
</div>