<app-nav-bar></app-nav-bar>
<div class="container">
    <div style="text-align: center;">
        <h1 style="color: darkblue;">IMPORTANT DATES</h1>
        <hr>
        <div style="background-color: white; text-align: center;">
            <div class="row pb-3 pt-3">
                <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                    <span class="leftSide">Call For Abstract  </span>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-1">
                    <span class="leftSide">:</span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                    <span class="rightSide">December 01,2021</span>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                    <span class="leftSide">Abstract Submission Deadline  </span>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-1">
                    <span class="leftSide">:</span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                    <span class="rightSide">January 12,2022</span> 
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                    <span class="leftSide">Acceptance Notification of Abstract </span>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-1">
                    <span class="leftSide">:</span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                    <span class="rightSide">January 14,2022</span> 
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                    <span class="leftSide">Call For Full Papers  </span>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-1">
                    <span class="leftSide">:</span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                    <span class="rightSide">January 15,2022</span> 
                </div>
            </div>
            
            <div class="row pb-3">
                <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                    <span class="leftSide">Full Paper Deadline  </span>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-1">
                    <span class="leftSide">:</span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                    <span class="rightSide">February 25,2022</span> 
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                    <span class="leftSide">Acceptance Notification for Full Paper </span>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-1">
                    <span class="leftSide">:</span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                    <span class="rightSide">March 05,2022</span> 
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                    <span class="leftSide">Registration Opens  </span>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-1">
                    <span class="leftSide">:</span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                    <span class="rightSide">March 05,2022</span> 
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                    <span class="leftSide">Final Submissions </span>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-1">
                    <span class="leftSide">:</span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                    <span class="rightSide">March 07,2022</span> 
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                    <span class="leftSide">Registration Closes </span>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-1">
                    <span class="leftSide">:</span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                    <span class="rightSide">March 12,2022</span> 
                </div>
            </div>
        </div>
    </div>
    
</div>