<app-nav-bar></app-nav-bar>
<div class="container">
    <div style="text-align: center;">
        <h1 style="color: darkblue;">REGISTRATION DETAILS</h1>
        <hr>
        <div style="background-color: white; text-align: center;">
            <div class="row pb-3 pt-3">
                <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                    <span class="leftSide">Category  </span>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-1">
                    <span class="leftSide"></span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-6" style="text-align: left;">
                    <span class="rightSide" >Fees</span>
                </div>
            </div>
            <hr>
            <div class="row pb-3">
                <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                    <span class="leftSide">Academicians  </span>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-1">
                    <span class="leftSide">:</span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-6" style="text-align: left;">
                    <span class="rightSide" >₹ 1000</span> 
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                    <span class="leftSide">Foreign delegates </span>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-1">
                    <span class="leftSide">:</span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-6" style="text-align: left;">
                    <span class="rightSide" >$ 50</span> 
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                    <span class="leftSide">Industry Delegate  </span>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-1">
                    <span class="leftSide">:</span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-6" style="text-align: left;">
                    <span class="rightSide">₹ 1500 </span> 
                </div>
            </div>
            
            <div class="row pb-3">
                <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                    <span class="leftSide">PG/Research scholar  </span>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-1">
                    <span class="leftSide">:</span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-6" style="text-align: left;">
                    <span class="rightSide">₹ 750</span> 
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                    <span class="leftSide">UG student </span>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-1">
                    <span class="leftSide">:</span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-6" style="text-align: left;">
                    <span class="rightSide">₹ 500</span> 
                </div>
            </div>
        </div>
        <br>
    </div>
    <div style="text-align: center;">
        <h1 style="color: darkblue;">Payment Mode Details will be Updated when the Registration Opens!</h1>
    </div>
</div>
