<app-nav-bar></app-nav-bar>
<div class="container">
    <div style="text-align: center;">
        <h1 class="textcolor">CONTACT DETAILS</h1>
        <hr>
    </div>
    <div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 px-5" style="background-color: white;">
            <h1 class="textcolor">Dr. P.Sangeetha </h1>
            <h5>Associate Professor,<br> Department of Civil Engineering</h5>
            <div class="pb-2">
                <span style="font-size: 25px; font-weight: bold;">Phone Number : </span><span class="textcolor" style="font-size: 25px;"> +91 99413 77269</span>
            </div>
        </div>
        <hr>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 px-5" style="background-color: white;">
            <h1 class="textcolor">Dr. Jijo James </h1>
            <h5>Associate Professor,<br> Department of Civil Engineering</h5> 
            <div class="pb-2">
                <span style="font-size: 25px; font-weight: bold;">Phone Number : </span><span class="textcolor" style="font-size: 25px;"> +91 98411 68953</span> 
            </div>
        </div>
        <hr>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 px-5" style="background-color: white;">
            <div class="pb-2">
                <span style="font-size: 25px; font-weight: bold;">Email Us @ : </span><span class="textcolor" style="font-size: 25px;"> spice@ssn.edu.in </span> <br>
            </div>
            <div class="pb-2">
                <span style="font-size: 25px; font-weight: bold;">Website : </span><span class="textcolor" style="font-size: 25px;"> www.spice2022.com </span>
            </div>
        </div>
    </div>
    <br>
</div>