<app-nav-bar></app-nav-bar>
<div class="container">
    <div style="text-align: center;">
        <h1 style="color: darkblue;">BROCHURE</h1>
        <hr>
    </div>
    <div style="text-align: center;">
        <h5><a href="assets/Files/SPICE 2022 Brochure4.pdf" download="Spice_2022_Brohure" style="color: darkblue;">Click Here</a> to download full Brochure</h5>
    </div>
    <div class="row mt-5">
        <div class="col-lg-4 col-md-4 col-sm-4 col-12 ">
            <img src="assets/Images/Brochure 1.PNG" class="img-fluid" alt="">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-12 img-fluid">
            <img src="assets/Images/Brochure 2.PNG" class="img-fluid" alt="">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-12 img-fluid">
            <img src="assets/Images/Brochure 3.PNG" class="img-fluid" alt="">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-lg-4 col-md-4 col-sm-4 col-12 img-fluid">
            <img src="assets/Images/Brochure 4.PNG" class="img-fluid" alt="">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-12 img-fluid">
            <img src="assets/Images/Brochure 5.PNG" class="img-fluid" alt="">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-12 img-fluid">
            <img src="assets/Images/Brochure 6.PNG" class="img-fluid" alt="">
        </div>
    </div>
    <br>
</div>