<app-nav-bar></app-nav-bar>
<div class="container">
    <div style="text-align:center">
        <h1 class="textcolor">SPEAKERS</h1>
        <hr>
    </div>
    <div class="row ">
        <div class="offset-lg-1 col-lg-5 col-md-6 col-sm-6 col-12">
            <img src="assets/Images/Sudharshan.jpeg" width="60%" class="img-fluid" alt="">
            <div style="text-align: left;">
                <h3 class="textcolor">Dr. Sudharshan N. Raman </h3>
                <h4 >Associate Professor & Graduate Research Coordinator <br>
                    School of Engineering <br>
                    Monash University Malaysia <br>
                    Bandar Sunway, Selangor, Malaysia</h4>
            </div>
        </div>
       
        <div class="offset-lg-1 col-lg-5 col-md-6 col-sm-6 col-6">
            <img src="assets/Images/Amarnath.jpeg" width="50%" class="img-fluid" alt="">
            <div style="text-align: left;">
                <h3 class="textcolor">Dr. Amarnath CB </h3>
                <h4>Head - BIM Strategy <br>
                    Larsen & Toubro Limited Chennai, INDIA</h4>
            </div>
        </div>
    </div>
    <hr>
    <div class="row ">
        <div class="offset-lg-1 col-lg-5 col-md-6 col-sm-6 col-12">
            <img src="assets/Images/Fayedh.jpeg" width="60%" class="img-fluid" alt="">
            <div style="text-align: left;">
                <h3 class="textcolor">Dr.Moatasem  Fayyadh </h3>
                <h4>Principal Engineer - Civil & Structures,<br> Sydney water,<br>
                    Greater Sydney Area, Sydney <br>
                    Australia</h4>
            </div>
        </div>
       
        <div class="offset-lg-1 col-lg-5 col-md-6 col-sm-6 col-6">
            <img src="assets/Images/Beena.jpeg" width="60%" class="img-fluid" alt="">
            <div style="text-align: left;">
                <h3 class="textcolor">Dr. K.S. BEENA</h3>
                <h4>Dean, Faculty of Engineering ,
                    Division of Civil Engineering, School of Engineering 
                    Cochin University of Science and Technology, Kochi, India</h4>
            </div>
        </div>
    </div>
    <br>
</div>