<app-nav-bar></app-nav-bar>
<div class="container">
    <div style="text-align: center;">
        <h1 class="textColor">GUIDELINES</h1> 
        <hr>
    </div>
    <div style="text-align: center;">
        <p class="content">One can participate in SPICE 2022 in either one of the two following ways : </p>
    </div>
    <div style="background-color: white;" class="px-5"> 
        <h2 class="textColor">Participation as an Author</h2>
        <div class="content pb-3" style="text-align: justify;">
            If one wants to participate as an author(s), he or she needs to submit an abstract of their work related to the conference theme
            in the prescribed format to the conference mail ID, ….., during the period when call for abstracts is open. All abstracts will be 
            subjected to review and intimation of the selection will be sent to the corresponding author. Following this, the author(s), need 
            to send in their full manuscript in the prescribed format to the conference mail ID when the call for full papers is open. The 
            submitted papers will be subjected to peer review and selected papers for presentation will be intimated to the authors in the 
            stipulated time. Authors whose papers have been selected for presentation need to register for the conference as an author by 
            paying the registration fee when the time for registration is open. Only the registered authors will be allowed to participate 
            and present their papers in the conference. 
        </div>
    </div>
    <br>
    <div style="background-color: white;" class="px-5">
        <h2 class="textColor">Participation as a Listener</h2>
        <div class="content pb-3" style="text-align: justify;">
            If one is not interested in submitting one’s work to the conference, but still wants to be part of the conference proceedings to 
            keep abreast of the latest developments in the field, he or she can register as a listener by paying the prescribed registration 
            fee when the registration slot opens.
        </div>
    </div>
</div>