<app-nav-bar></app-nav-bar>
<div class="container">
    <div style="text-align: center;">
        <h1 class="textColor">ADVISORY COMMITTEE</h1>
        <hr>
    </div>
    <div style=" background-color: white; font-size: 20px;" class="pt-3 pb-3 pl-3 pr-3">
        <ul>
          <li><p class="px-3"> <span>Dr. Devadass Menon</span>, Institute Chair Professor,
                Department of Civil Engineering IIT Madras.</p> </li>
          <li> <p class="px-3"> <span>Dr. R. Senthil</span>, Professor & Director of the Building Technology Centre,
            Anna University, Chennai</p></li>
          <li><p class="px-3"> <span>Dr. N.Ganesan</span>,
            Professor ( HAG ) Department of Civil Engineering, NIT Calicut</p></li>  
           <li><p class="px-3"> <span>Dr.B.Suresh</span>,
            CEO and Managing Director, Mahindra Consulting</p></li> 
           <li><p class="px-3"> <span>Dr. Nemkumar (Nemy) Banthia</span>,
            Professor and Senior Canada Research Chair (Emeritus),Department of Civil Engineering, The University of British Columbia,Vancouver, B.C.,Canada</p></li> 
           <li><p class="px-3"> <span>Dr. Ganesan Senthil Kumaran</span>,
            Associate Professor, Dept. of Civil Engineering and Construction, The Copperbelt University,Kitwe - ZAMIBIA</p></li> 
            <li><p class="px-3"> <span>Prof. Nurind K Mushule</span>,
                Associate Professor, Transportation Engineering,University of Dar es Salaam, Dar es Salaam,Tanzania</p></li>
            <li><p class="px-3"> <span>Dato' Ir. Prof. Dr.Kamal Nasharuddin Mustapha</span>, Vice-Chancellor, Universiti Tenaga Nasional, Malaysia.</p></li>
            <li><p class="px-3"> <span>Dr.Moatasem Fayyadh</span>,
                Principal Engineer - Civil and Structures,
                Sydney water, Greater Sydney Area, Sydney,Australia</p></li>
        </ul>
        
    </div>
</div>