<app-nav-bar></app-nav-bar>
<div class="container">
    <div style="text-align: center;">
        <h1 class="textColor">CALL FOR PAPERS</h1>
        <hr>
    </div>
    <div class="content">
        SPICE is the premier forum for the presentation of new advances and research results in the field of <span>Civil Engineering</span>. 
        The conference will bring together leading academic scientists, researchers and scholars in the domain of interest from 
        around the world.
    </div>
    <div class="content mt-4" style="text-align: center;">
        Topics pertaining to the scope of the conference will include, but are not limited to :
    </div>
    <div style="background-color: white;" class="px-3" >
        <div class="row mt-5">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <h2 class="textColor">STRUCTURAL</h2>
                <div class="content">
                    <ul>
                        <li>Advances in Structural Engineering</li>
                        <li>Advanced / Hybrid Construction</li>
                        <li>Materials</li>
                        <li>Green Building Concepts  </li>
                        <li>Seismic Resistant Structures </li> 
                        <li>FEM Techniques in Civil Engineering </li> 
                        <li>Precast Construction Techniques </li> 
                        <li>Sustainable Structures </li> 
                        <li>Low Cost Solutions  </li>
                        <li>Waste Utilization </li> 
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <h2 class="textColor">GEOTECHNICAL</h2>
                <div class="content">
                    <ul>
                        <li>Ground Improvement Techniques </li> 
                        <li>Geo-environmental Engineering </li> 
                        <li>Soil Structure Interaction Studies </li> 
                        <li>Dynamic Behavior of Soils </li> 
                    </ul>  
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <h2 class="textColor">WATER RESOURCES & ENVIRONMENTAL</h2>
                <div class="content">
                    <ul>
                        <li>Coastal Management & Climate Change Irrigation Structures</li>
                        <li>Application of Remote Sensing and GIS</li>
                        <li>E-Waste & Solid Waste Management </li>
                        <li>Environmental Issues & Solutions  </li>
                        <li>Advanced Wastewater Treatment  </li> 
                        <li>Groundwater Improvement Techniques </li> 
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <h2 class="textColor">TRANSPORTATION</h2>
                <div class="content">
                    <ul>
                        <li>Geomatics & Transportation </li> 
                        <li>Sustainable Infrastructure </li> 
                        <li>Modern Transportation Systems </li> 
                        <li>Intelligent Transportation Systems </li> 
                        <li>Traffic Signals using ITS</li>
                    </ul>  
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3">
        <div class="content">
            <a href="assets/Files/SPICE 2022_Abstract Template.dotx" download="Spice_2022_Abstract_Template" class="textColor">Click Here</a> to download the sample abstract template, 
            fill in your abstract and mail us back at <b class="textColor">spice@ssn.edu.in</b> 
        </div>
        <br>
        <div class="content">
            <a href="assets/Files/SPICE 2022_Full Paper Template.dotx" download="Spice_2022_Fullpaper_Template" class="textColor">Click Here</a> to download the sample full paper template,
            fill in your paper and mail us back at <b class="textColor">spice@ssn.edu.in</b> 
        </div>
    </div>
    <br>
</div>