<app-nav-bar></app-nav-bar>
<div id="mic">
    <div style="text-align: center;" >
        <!-- <br> <br> -->
        <h1 class="pt-5" style="color: white; ">ONLINE VIRTUAL INTERNATIONAL CONFERENCE ON</h1>
        <h1 style="color: white; ">SUSTAINABLE PRACTICES AND INNOVATIONS IN CIVIL ENGINEERING</h1>
        <h1 style="color:white; "><span>SPICE 2022</span></h1>
        <h2  style="color:white; ">Date : 16th and 17th March, 2022</h2>
    </div>    
</div>

<div class="container">
    <div class="row">
        <div class="mt-3 col-lg-4" style="text-align: center;">
            <img src="assets/Images/Logo.png" width="80%" alt="">
        </div>
        <div class="mt-4 col-lg-4" style="text-align: center;">
            
            <h3 >Organized By</h3>
            <h1>Department Of Civil Engineering</h1>
            <h2>SSN College of Engineering</h2>
        </div>
        <div class=" mt-5 col-lg-4" style="text-align: center;">
            <img src="assets/Images/ACE-logo-300x144.png" width="80%" alt="">
        </div>
</div>

<br>

<div class="container">
    <div style="background-color:white" class="px-5">
        <br>
        <h1 class="textcolor">About the Institution</h1>
        <br>
        <div style="text-align: center;">
        <img src="assets/Images/SSN.jpg" width="80%" alt="">
        </div>
        <br><br>
        <div style="text-align: justify;">
            SSN College of Engineering (SSNCE), founded by Padma Bhushan Dr. Shiv Nadar, Chairman, HCL Technologies, stands out as a premiere
            center of higher learning with a mission of pursuing excellence in education and research. The institution, with its diverse and
            dynamic community of students offers a distinctive combination of some of the finest graduate, undergraduate and research programs,
            accomplished faculty, world class facilities and a residential campus set on a sprawling 250 acres of sylvan surroundings. 
            SSNCE is a home to aesthetically designed buildings with state of the art computer and internet facilities, modern workshops, 
            seminar halls, auditoriums and well stocked libraries, sports and games fields in addition to an indoor stadium with gym. 
            SSN College of Engineering has faculty strength of 251 with a faculty student ratio of one faculty for every 15 students. 
            Out of the total, 208 faculties are PhDs and 43 are pursuing their Ph.D. SSNCE has been ranked 8th among all the private 
            engineering colleges in the country and ranked 37th among all engineering colleges and 78th among all the educational 
            institutions in the Atal Ranking of Institutions on Innovation Achievements (ARIIA 2019), instituted by the MHRD, Government 
            of India.
            
        </div>
        <br>
    </div>
    <br>
    <div style="background-color:white" class="px-5">
        <br>
        <h1 class="textcolor">About the Department</h1>
        <div style="text-align: justify;">
            The Department of Civil Engineering was started in the academic year 2011-12 with an aim of promoting high quality education in 
            the field of Civil Engineering. The department has well equipped laboratory facilities and highly qualified faculty members having 
            rich experience in teaching and industrial background. The department is aiming to transform itself into a center of excellence 
            both in academic and research. The department provides a right kind of environment for the students to groom themselves for 
            innovative and challenging near future.
        </div>
        <br>
    </div>
    
    <br>
    <div style="background-color:white" class="px-5">
        <br>
        <h1 class="textcolor">About the Conference</h1>
        <div style="text-align: justify;">
            Civil Engineers innovate, create and renovate, keeping the constructed infrastructure facilities up and functioning at all times,
             responsible for flourishing civilizations throughout history. The situation is no different in modern times with them responsible 
             for the efficient upkeep of the society. However, the mounting concerns towards environmental degradation due to developmental 
             activities have led to the limelight falling on Sustainable Practices. Sustainability by definition is the method of using a 
             resource in a way that the resource is not depleted or permanently damaged. Despite the concept being as old as history, it has 
             gained prominence in recent times. The American Society of Civil Engineers (ASCE) defines sustainability as a set of economic, 
             environmental and social conditions in which all of society has the capacity and opportunity to maintain and improve its quality 
             of life indefinitely without degrading the quantity, quality or the availability of economic, environmental and social resources
             <br> <br>
             Sustainable development is the application of these resources to enhance the safety, welfare, and quality of life for all of society. 
             Practicing Civil Engineers, who are in control for all things from A to Z for a thriving human civilization, need to be responsible 
             towards the economy, environment and society. This conference, SPICE 2022, thus, aims to be a platform for all stakeholders 
             concerned to present, discuss, cooperate, redefine and innovate sustainable solutions for the continuance of the human civilizations
              to higher levels of sophistication and technological advancement while still being nurtured in the cradle of nature.
        </div>
        <br>
    </div>
    
    <br> <br>
</div>
